
  
  /*  */

  #home{
    height: 491px;
  }
  h2{
    position: relative;
    left: 23px;
    font-size: 25px;
}
img{
  width: 60px;
  position: relative;
    left: 130px;
    top: 36px;
}
.head{
  font-size: 24px;
    right: 12px;
    top: 20px;
}
.navbar{
  position: relative;
    top: 48px;
}
.navbar ul li a{
  font-size: 12px;
    padding: 3px 16px;
}
#page1{
  left: -66px;
  font-size: 11px;
}
#profile{
  position: relative;
    width: 105px;
    height: 105px;
    left: 234px;
    top: -61px;
}
hr {
  width: 377px;
  position: relative;
  left: 0px;
}
#about{
  height: 405px;
}
h1{
  left: 142px;
    top: 0px;
    font-size: 26px;
}
#page2{
  width: 490px;
  top: 178px;
}
#page3{
  font-size: 14px;
    width: 334px;
    left: -87px;
    top: 61px;
}
#h2{
  left: 100px;
    font-size: 39px;
    bottom: 2px;
}
#skill{
  padding: 0px;
  top: -22px;
}
#skills{
  height: 741px;
}
#skills1,
#skills2,
#skills3{
  width: 368px;
    height: 166px;
}
h3{
  /* top: 67px; */
    position: relative;
  font-size: 17px
}
#skills1{
  left: -54px;
}
#skills2{
  
    left: 66px;
    bottom: 2px;
}
#skills3{
  left: -54px;
    top: 2px;
}

#project{
  height: 100%;
}
h5{
  position: relative;
    left: 97px;
    font-size: 19px;
}
#work{
  width: 262px;
  left: 107px;
  height: 146px;
}
#web{
  right: 0px;
}
.container{
  left: 12px;
}
.img{
  /* width: 17px; */
}
