body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(3, 7, 19);
  
}
header {

  height: 630px;

}
header::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}
#home {
  /* border: 2px solid red; */
  height: 100%;
  position: relative;
  top: 14px;
  color: white;
}
.head{
  font-family: cursive;
  font-style: italic;
  font-size: 50px;
  position: relative;
  display: inline;
  
  top: -24px;
    right: 118px;
  z-index: 2;
}
h2 {
  /* text-align: center; */
  font-size: 34px;
  font-family: cursive;
  position: relative;
  left: 70px;
  top: 126px;
  
}
p {
  /* text-align: center; */
  font-size: 20px;
  padding: 0px 124px;
  position: relative;
  left: 50px;
  top: 106px;
  
}

.cv{
  position: relative;
  left: 67px;
  top: 97px;
  width: 169px;
    height: 0px;
    background-color: rgb(55, 170, 216);
    font-family: cursive;
    font-size: 18px;
    border-radius: 20px;
    padding: 24px;
}
.cv:hover{
  width: 189px;
  
cursor: pointer;
  
color: #040404;
  
background-color:rgb(41, 77, 155);
}
#profile{
  position: relative;
    width: 300px;
    height: 300px;
    
    left: 853px;

    bottom: 200px;
    
}
/* #end{
  width: 100px;
  margin: 20px 40px;
} */
img {
  width: 100px;
  margin: 20px 40px;
}
#profile:hover{
  cursor: pointer;
  
}
.navbar {
  
  display: inline-block;
  float: right;
  
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li a {
  flex-direction: column;
  text-decoration: none;
  padding: 3px 22px;

  color: white;

  text-align: center;
}
.navbar ul li a:hover {
  border-radius: 18px;
  color: black;
  background-color: white;
  border: 2px solid white;
}

/* about */

#about {
  height: 472px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-auto-columns: 2fr;
  
  grid-gap: 1rem;
  padding: 20px;
  color: white;
}
hr {
  width: 80%;
}
h1 {
  text-align: center;
  position: relative;
  left: 590px;
}
/* #page2 {
  
  width: 640px;
  padding: 34px 0px;
  height: 372px;
  position: relative;
  top: 96px;
  right: 135px;
  
} */
#page3{

  width: 640px;
  padding: 34px 0px;
  height: 372px;
  position: relative;
  /* top: 156px;
  right: 135px; */
  text-align: center;
  left: 187px;
  top: 107px;
  

}
/* #profile {
  width: 364px;
  height: 426px;
  position: relative;
  bottom: 36px;
} */

/* skills  */

#skills {
  padding: 23px 62px;
  
  height: 806px;
}
#skills1,
#skills2,
#skills3 {
  color: white;
  border: 2px solid green;
  width: 40%;
  margin: 6px;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  height: 265px;
  transition: all 1s ease-in-out 0.1s;
  border-radius: 30px;
}
#skill {
  padding: 0px 60px;
  position: relative;
  bottom: 23px;
  left: 19px;
  top: 0px;
}
#skills1 {
  position: relative;
  left: 149px;
  bottom: 10px;
  box-shadow: 8px 10px 10px 4px #11640c;
}
#skills2 {
  float: right;
  position: relative;
  right: 118px;
  bottom: 82px;
  box-shadow: 8px 10px 10px 4px #11640c;
}
#skills3 {
  float: left;
  position: relative;
  top: 126px;
  left: 149px;
  box-shadow: 8px 10px 10px 4px #11640c;
}
#skills1:hover,
#skills2:hover,
#skills3:hover {
  background-color: rgb(169, 212, 169);
  color: black;
  height: 300px;
  width: 40%px;
  border-radius: 50px;
  font-size: 30px;
  cursor: pointer;
}
h3 {
  color: white;
  text-align: center;
  font-size: 34px;
}
h4 {
  color: white;

  text-align: center;
  font-family: cursive;
  font-size: 34px;

  position: relative;
  left: 542px;
}

#h2 {
  color: white;
  font-size: 54px;
  position: relative;
  bottom: 30px;
  padding: 0px;
  display: inline;
    left: 517px;
}

/* project section  */

#project{
  height: 627px;
  color: white;
}
h5{
  text-align: center;
  font-size: 33px;
  
}
button, .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 44px;
  
}
button:hover , .btn:hover{
  cursor: pointer;
  
}
#work:hover {
  cursor: pointer;
  background-color: rgb(17, 58, 17);
  color: white;
}
#work{
  list-style:disc ;
  font-size: 23px;
  color: rgb(8, 248, 128);
  background-color: rgb(2, 31, 15);

  flex-direction: column;
  margin: 4px 10px ;
  
  height: 170px;
  display: flex;
  
  align-items: center;
  position: relative;
  top: 20px;
  
}
#web{
  color: rgb(8, 248, 128);
  font-size: 15px;
  padding: 12px 12px;
 
  position: relative;
  top: 15px;
  left: 0px;
    /* right: -3px; */
  /* top: 40px;
  right: 130px; */
}
#project1{
  
  font-size: 15px;
  position: relative;
    /* bottom: px; */
    top: -20px;
    left: 0px;
}

/* get in touch */

.container {
  color: white;
  display: flex;
  width: 88%;
  margin: 12px;
  border-radius: 15px;
  
  position: relative;
  left: 65px;
  background-color: rgb(96, 119, 96);
}
.block {
  
  display: flex;
  height: 300px;
  border-radius: 15px;
}
.part1,
.part2 {
  border: 2px solid rgb(1, 24, 1);
  margin: 10px;
  flex-direction: column;
  border-radius: 15px;
}
h6 {
  font-size: 28px;
  text-align: center;
  color: rgb(2, 20, 2);
  
}
#name {
  width: 200px;
  height: 25px;
  border: 2px solid rgb(192, 209, 218);
  border-radius: 15px;
  background-color: rgb(192, 209, 218);
  color: black;
  left: 7px;
  top: -36px;
}
#message {
  border-radius: 15px;
  background-color: rgb(192, 209, 218);
}
#last{
  left: 7px;
  top: -36px;
}
#phone,
#email,
#linkedin , #github{
  padding: 17px;
    position: relative;
    right: 57px;
    top: 5px;
  height: 37px;
  width: 150px;
  background-color: rgb(200, 216, 221);
  
  flex-direction: column;
  
  font-size: 23px;
  
  border-radius: 15px;

}
#phone:hover,
#email:hover,
#linkedin:hover,
#github:hover {
  background-color: rgb(204, 219, 208);
  color: black;
  font-weight: bold;
  cursor: pointer;
}
#extra{
  text-align: center;
    font-size: 20px;
    left: -5px;
    top: -31px;


}

.img {
  width: 148px;
  height: 45px;
 
  margin: 4px;

  height: 34px;
  position: relative;
  top: 11px;
  left: 63px;
}

h4:hover {
  font-weight: bold;
  cursor: pointer;
}

